/.idea
/node_modules
/config/ide-helper.php
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/storage/logs
/storage/logs/*
/storage/logs/sms/*
/storage/docker/mysql/*
/vendor
/v8-compile-cache-0
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.phpstorm.meta.php
_ide_helper.php
laravel-echo-server.json
laravel-echo-server_example.json
laravel-echo-server.lock
